.skills {
    padding: 3rem 0;
}
.skills h2{
    margin: 0;
    color:white;
    /* color:#003366; */
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 3rem;
    letter-spacing: 1rem;
    padding: 3rem 0;
    text-align: center;
}

.skills ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
    place-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.skills li {
   background: #888888;
   padding: 1rem;
   margin: 0;
   flex: 0 0 12%; /* ajusta pra caber 5 por linha considerando gap */
   text-align: center;
   border-radius: 6px;
   white-space: nowrap;
}