.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding-bottom: 4rem;

}

.about h2 {
    grid-column: 1 / -1;
}

.about::before {
  content: "";
  position: absolute;
  top: 110px; /* começa no meio vertical */
  left: 50%; /* meio horizontal */
  transform: translate(-50%, -50%); /* centraliza exatamente */
  width: 100px; /* largura da linha */
  height: 3px; /* altura fixa */
  background-color: #f5009f8f; /* cor rosa neon */
}
.about-text {
    grid-column: 1 / 2;
    align-content: center;
    padding-right: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-block;
    background:linear-gradient(to bottom, #7a0652, #f500a0);
    margin-top: 1rem;
    padding: 0.5rem 2.5rem;
    border-radius: 4px;
    margin-top: auto;
    align-self: flex-start;
}


.about-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    border: 1px solid #f5009f8f;
    border-radius: 4px;
    padding: 2rem;
}


.about-info h3 {
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}


.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.social-links a {
    padding-top: 1em;
    color: #f7f7f7;
}

