body {
    font-family: "Montserrat", sans-serif;
    background: #141414;
    padding: 0 60px;
    color: #f7f7f7;
}

a{ 
    text-decoration: none;
    color: #f7f7f7;
}

li {
    list-style: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 20px 40px;
}

p {
    line-height: 1.5;
}