*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #141414;
    padding: 2rem 0;    
    color: #f7f7f7;
}

a{ 
    text-decoration: none;
    color: #f7f7f7;
}

li {
    list-style: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 20px 40px;
}

p {
    line-height: 1.5;
}
h2  {
    padding: 4rem 0;
    text-transform: uppercase;
    font-size:2em;
    font-weight: 600;
    letter-spacing: 2px;
}