.cover {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
}

.cover-text{
    grid-column: 1/2;
    align-content: center;
} 

.cover-img {
    grid-column:  2 ;
}

h1 {
    font-size: 3em;
    padding-bottom: 1rem;
}

.cover-text span {
    color:#f5009f8f;
}